src/main/resources/schema/G4AuxBasicTypesV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aduanas/es/aeat/adds/jdit/g4/ws/G4AuxBasicTypesV1.xsd" 
targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aduanas/es/aeat/adds/jdit/g4/ws/G4AuxBasicTypesV1.xsd" 
elementFormDefault="qualified" attributeFormDefault="qualified" version="0.1">
	<xs:annotation>
		<xs:documentation xml:lang="en">Basic data types for G4 notifications</xs:documentation>
		<xs:documentation xml:lang="es">Tipos de datos básicos para las notificaciones G4
v0.1 Versión inicial desarrollo		
		</xs:documentation>
	</xs:annotation>
	<!-- en: Date and time types -->
	<!-- es: Tipos fecha -->
	<xs:simpleType name="Date8">
		<xs:annotation>
			<xs:documentation>Date and Time with precision of minute (format YYYYMMDD)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="8"/>
			<xs:pattern value="[1-2]{1}[0-9]{3}[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime14">
		<xs:annotation>
			<xs:documentation>Date and Time with precision of minute (format YYYYMMDDhhmmss)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="14"/>
			<xs:pattern value="[1-2]{1}[0-9]{3}[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}[0-2]{1}[0-9]{1}[0-5]{1}[0-9]{1}[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date10">
		<xs:annotation>
			<xs:documentation>Date-time in format YYYY-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime19">
		<xs:annotation>
			<xs:documentation>Date-time in format YYYY-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Integer types -->
	<!-- es: Tipos numéricos enteros -->
	<xs:simpleType name="Integer_2">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_4">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_5">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_8">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_11">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="11"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Decimal types -->
	<!-- es: Tipos numéricos decimales -->
	<xs:simpleType name="Decimal_16_6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal_19_6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="19"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Numeric fixed lenght types with significant left zeros -->
	<!-- es: Tipos numéricos de longitud fijo con ceros a la izquierda significativos -->
	<xs:simpleType name="Numeric_1">
		<xs:restriction base="xs:token">
			<xs:length value="1"/>
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric_2">
		<xs:restriction base="xs:token">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric_3">
		<xs:restriction base="xs:token">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Numeric variable lenght types with significant left zeros -->
	<!-- es: Tipos numéricos de longitud variable con ceros a la izquierda significativos -->
	<xs:simpleType name="NumericMax_3">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericMax_4">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericMax_5">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericMax_19">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Variable lenght string types -->
	<!-- es: Tipos de cadena de longitud variable-->
	<xs:simpleType name="StringMax_19">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMax_35">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMax_70">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMax_210">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMax_512">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Variable lenght token types -->
	<!-- es: Tipos token de longitud variable-->
	<xs:simpleType name="TokenMax_3">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_4">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_8">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_17">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_20">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_22">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_35">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_40">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_50">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_70">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_125">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="125"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_200">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_210">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_512">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TokenMax_2048">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Alphanubetic uppercased fixed length types -->
	<!-- es: Tipos alfabéticos de longitud fija en mayúsculas-->
	<xs:simpleType name="AlphaUp_1">
		<xs:restriction base="xs:token">
			<xs:length value="1"/>
			<xs:pattern value="[A-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaUp_2">
		<xs:restriction base="xs:token">
			<xs:length value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Alphanumeric uppercased fixed length types -->
	<!-- es: Tipos alfanuméricos de longitud fija en mayúsculas-->
	<xs:simpleType name="AlphaNumUp_1">
		<xs:restriction base="xs:token">
			<xs:length value="2"/>
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_2">
		<xs:restriction base="xs:token">
			<xs:length value="2"/>
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_3">
		<xs:restriction base="xs:token">
			<xs:length value="3"/>
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_4">
		<xs:restriction base="xs:token">
			<xs:length value="4"/>
			<xs:pattern value="[A-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_5">
		<xs:restriction base="xs:token">
			<xs:length value="5"/>
			<xs:pattern value="[A-Z0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_6">
		<xs:restriction base="xs:token">
			<xs:length value="6"/>
			<xs:pattern value="[A-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUp_9">
		<xs:restriction base="xs:token">
			<xs:length value="9"/>
			<xs:pattern value="[A-Z0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- en: Alphanumeric uppercased variable length types -->
	<!-- es: Tipos alfanuméricos de longitud variable en mayúsculas-->
	<xs:simpleType name="AlphaNumUpMax_2">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_3">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_4">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_5">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[A-Z0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_8">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[A-Z0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax__9">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_17">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[A-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_20">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[A-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_35">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[A-Z0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumUpMax_70">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:pattern value="[A-Z0-9]{1,70}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
